.whiteBG {
    width: 100%;
    background-color: #fff;
    padding: 0;
}

.container {
    background-color: var(--bg-light-gray-color-transparent);
    width: 872px;
    border-radius: var(--border-radius-4);
    padding: 0 24px 32px;
}

.pagePath {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 25px;
    padding: 40px 48px;

    a {
        color: var(--gray-text-color);
        text-decoration: none;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-400);
        &:hover {
            text-decoration: underline;
        }
    }
    svg {
        path {
            fill: var(--gray-text-color);
        }
    }
    p {
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
    }
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: var(--border-radius-1);
    background-color: var(--bg-light-gray-color-transparent);
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
   
    svg {
        path {
            fill: var(--main-text-color);
        }
    }
}

.formContainer {
    background-color: #fff;
    border-radius: var(--border-radius-3);
    padding: 32px;

    .inputEmpty {
        width: 100%;
        height: 46px;
        border: 0;
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: var(--bg-light-gray-color-transparent);
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }

    .inputFilled {
        width: 100%;
        height: 46px;
        border: 1px solid var(--main-text-color);
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: transparent;
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }
}

.formHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 32px;

    h1 {
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-700);
    }
}

.dropdownContainer {
    width: 190px;
}