.whiteBG {
    width: 100%;
    background-color: #fff;
    padding: 0;
}

.container {
    background-color: var(--bg-light-gray-color-transparent);
    width: 872px;
    border-radius: var(--border-radius-4);
    padding: 0 24px 32px;
}

.pagePath {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 25px;
    padding: 40px 48px;

    a {
        color: var(--gray-text-color);
        text-decoration: none;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-400);
        &:hover {
            text-decoration: underline;
        }
    }
    svg {
        path {
            fill: var(--gray-text-color);
        }
    }
    p {
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
    }
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: var(--border-radius-1);
    background-color: var(--bg-light-gray-color-transparent);
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
   
    svg {
        path {
            fill: var(--main-text-color);
        }
    }
}

.formContainer {
    background-color: #fff;
    border-radius: var(--border-radius-3);
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    min-height: 528px;

    .inputEmpty {
        width: 100%;
        height: 46px;
        border: 0;
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: var(--bg-light-gray-color-transparent);
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }

    .inputFilled {
        width: 100%;
        height: 46px;
        border: 1px solid var(--main-text-color);
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: transparent;
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }
}

.formHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 32px;

    h1 {
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-700);
    }
}

.dropdownContainer {
    width: 190px;
}

.hintTextVisible p {
    padding: 8px 0 16px 24px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    color: var(--gray-text-color);
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 32px;

    margin-top: auto;
}

.disabled {
    background-color: #e0cdfe;
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: white;
    cursor: not-allowed;
    width: 134px;
    height: 38px;
    text-align: center;

}

.activated {
    background-color: var(--color-purple);
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: white;
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
}

.cancelButton {
    background-color: var(--bg-light-gray-color-transparent-1);
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: var(--main-text-color);
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
}

.backButton2 {
    background-color: var(--bg-light-gray-color-transparent-1);
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: var(--main-text-color);
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
    margin-right: auto;
}

.grayLine {
    width: 100%;
    height: 1px;
    background-color: var(--bg-light-gray-color-transparent-2);
    margin: 16px 0;
}

.loaderBox {
    
    h2 {
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 16px;
    }
}

.screenShotsContainer {
    margin-top: 16px;
    margin-inline: 14px;
    display: flex;
    row-gap: 16px;
    column-gap: 8px;
    flex-wrap: wrap;
    align-items: center;

}

.screenShotBox {
    width: 140px;
    position: relative;

    display: flex;

    img.screenShotImage {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--bg-light-gray-color-transparent-2);
    }
}

.deleteIconBox {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 36px;
    height: 36px;
    border-radius: var(--border-radius-3);
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}