.dragAndDropContainer {
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius-3);
    border: 2px dashed var(--gray-border-color);
    background-color: var(--bg-light-gray-color);
}
.dragAndDropContainerFilled {
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius-3);
    border: none;
    background-color: transparent;
}

p {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
}

.uploadText {
    color: var(--gray-text-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    cursor: pointer;
}

.uploadLabel {
    color: var(--primary-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    cursor: pointer;
    margin-left: 6px;
}

.uploadIconBox {
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius-3);
    background-color: var(--bg-light-gray-color-transparent-1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-inline: auto;
    margin-block: 16px;

}

.previewImageBox {
    position: relative;
    max-width: 150px;
    margin: 0 auto;

    img {
        width: 100%;
        border-radius: var(--border-radius-3);
        border: 1px solid var(--bg-light-gray-color-transparent-2);
    }
}

.deleteIconBox {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 36px;
    height: 36px;
    border-radius: var(--border-radius-3);
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        margin-top: 8px;
    }
}

