/* src/Dropdown.css */
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  color: var(--gray-text-color);
  gap: 8px;
  height: 46px;
  border-radius: var(--border-radius-3);
  background-color: var(--bg-light-gray-color-transparent);
  padding-inline: 16px;
  position: relative;

  select {
    width: 100%;
    -webkit-appearance: none; /* Remove default arrow in Chrome/Safari */
    -moz-appearance: none;    /* Remove default arrow in Firefox */
    appearance: none;         /* Remove default arrow in modern browsers */
    background: transparent;  /* Optional: Make background transparent */
    padding: 5px 45px 5px 5px;      /* Add padding to prevent text overlap */
    border: 0px;
    outline: 0px;
    color: var(--gray-text-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    letter-spacing: 0.8px;
    z-index: 1;

    option.disabled {
      color: var(--gray-text-color);
    }
  
  }

  img {
    margin-left: -40px;
    z-index: 0;
  }

  &:focus-within {
    border: 1px solid var(--primary-color);
  }

}

.dropdownSeleted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  color: var(--main-text-color);
  gap: 8px;
  height: 46px;
  border: 1px solid var(--main-text-color);
  border-radius: var(--border-radius-3);
  background-color: transparent;
  padding-inline: 16px;
  position: relative;

  select {
    width: 100%;
    -webkit-appearance: none; /* Remove default arrow in Chrome/Safari */
    -moz-appearance: none;    /* Remove default arrow in Firefox */
    appearance: none;         /* Remove default arrow in modern browsers */
    background: transparent;  /* Optional: Make background transparent */
    padding: 5px 45px 5px 5px;      /* Add padding to prevent text overlap */
    border: 0px;
    outline: 0px;
    color: var(--main-text-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    letter-spacing: 0.8px;
    z-index: 1;

    option.disabled {
      color: var(--gray-text-color);
    }
  
  }

  img {
    margin-left: -40px;
    z-index: 0;
  }

  &:focus-within {
    border: 1px solid var(--primary-color);
  }

}
  
.displayNone {
  display: none;
}

.displayLabel {
  position: absolute;
  top: -8px;
  left: 18px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-500);
  background-color: #fff;
  color: var(--gray-text-color);
  padding-inline: 8px;
}

.displayLabelFocused {
  position: absolute;
  top: -8px;
  left: 18px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-500);
  background-color: #fff;
  color: var(--primary-color);
  padding-inline: 8px;
}