/* src/Dropdown.css */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    color: var(--gray-text-color);
    gap: 8px;
    height: 40px;
    border-radius: var(--border-radius-3);
    background-color: var(--bg-light-gray-color-transparent);
    padding-inline: 12px;

    select {
      field-sizing: content;
      -webkit-appearance: none; /* Remove default arrow in Chrome/Safari */
      -moz-appearance: none;    /* Remove default arrow in Firefox */
      appearance: none;         /* Remove default arrow in modern browsers */
      background: transparent;  /* Optional: Make background transparent */
      padding: 5px 5px;      /* Add padding to prevent text overlap */
      border: 0px;
      outline: 0px;
      color: var(--main-text-color);
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-700);
    }
  }
  
  .dropdownToggle {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f5f5f5;
  }