.whiteBG {
    width: 100%;
    background-color: #fff;
    padding: 0;
}

.container {
    background-color: var(--bg-light-gray-color-transparent);
    width: 872px;
    border-radius: var(--border-radius-4);
    padding: 0 24px 32px;
}

.pagePath {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 25px;
    padding: 40px 24px;

    a {
        color: var(--gray-text-color);
        text-decoration: none;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-400);
        &:hover {
            text-decoration: underline;
        }
    }
    svg {
        path {
            fill: var(--gray-text-color);
        }
    }
    p {
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
    }
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: var(--border-radius-1);
    background-color: var(--bg-light-gray-color-transparent);
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
   
    svg {
        path {
            fill: var(--main-text-color);
        }
    }
}

.formContainer {
    background-color: #fff;
    border-radius: var(--border-radius-3);
    padding: 32px;

    .inputEmpty {
        width: 100%;
        height: 46px;
        border: 0;
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: var(--bg-light-gray-color-transparent);
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }

    .inputFilled {
        width: 100%;
        height: 46px;
        border: 1px solid var(--main-text-color);
        border-radius: var(--border-radius-3);
        outline: 0;
        padding: 0 24px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-700);
        background-color: transparent;
        letter-spacing: 0.7px;
        &::placeholder {
            color: var(--gray-text-color);
        }
    }

    input:focus-within {
        border: 1px solid var(--primary-color);
    }

    textarea:focus-within {
        border: 1px solid var(--primary-color);
    }
}

.formHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 32px;

    h1 {
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-700);
    }
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &>* {
        width: 370px;
    }
    
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.flexColumn2 {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.inputWrapper {
    position: relative;
}

.displayNone {
    display: none;
}
  
.displayLabel {
    position: absolute;
    top: -8px;
    left: 18px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    background-color: #fff;
    color: var(--gray-text-color);
    padding-inline: 8px;
}

.displayLabelFocused {
    position: absolute;
    top: -8px;
    left: 18px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    background-color: #fff;
    color: var(--primary-color);
    padding-inline: 8px;
}

.textareaEmpty {
    width: 100%;
    height: 100px;
    border: 0;
    border-radius: var(--border-radius-3);
    outline: 0;
    padding: 16px 24px;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    background-color: var(--bg-light-gray-color-transparent);
    letter-spacing: 0.7px;
    &::placeholder {
        color: var(--gray-text-color);
    }
}

.textareaFilled {
    width: 100%;
    height: 100px;
    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius-3);
    outline: 0;
    padding: 24px 36px;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    background-color: transparent;
    letter-spacing: 0.7px;
    &::placeholder {
        color: var(--gray-text-color);
    }
}

.hintTextVisible {
    padding: 8px 0 16px 24px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    color: var(--gray-text-color);
}

.hintTextDisplayNone {
    display: none;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 32px;
}

.disabled {
    background-color: #e0cdfe;
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: white;
    cursor: not-allowed;
    width: 134px;
    height: 38px;
    text-align: center;

}

.activated {
    background-color: var(--color-purple);
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: white;
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
}

.cancelButton {
    background-color: var(--bg-light-gray-color-transparent-1);
    padding: 8px 24px;
    border-radius: var(--border-radius-3);
    border: 0;
    outline: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    color: var(--main-text-color);
    cursor: pointer;
    width: 134px;
    height: 38px;
    text-align: center;
}

.navTabs {
    display: flex;
    gap: 40px;
    
    margin-bottom: 32px;
    border-bottom: 1px solid var(--bg-light-gray-color-transparent);
}

.active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: var(--font-weight-700);
    padding: 16px 0;
    cursor: pointer;
}

.secondary {
    color: var(--gray-text-color);
    text-decoration: none;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    padding: 16px 0;
    cursor: pointer;
    &:hover {
        font-weight: var(--font-weight-700);
    }
}