.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modalContent {
  background-color: white;
  border-radius: var(--border-radius-3);
  width: 574px;
  position: relative;
  
  p {
    text-align: center;
  }
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid var(--bg-light-gray-color-transparent-1);

  button  {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  h2 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
  }
}

.infoBox {

    img {
        display: block;
        width: 104px;
        height: 104px;
        border-radius: var(--border-radius-3);
        margin: 40px auto 16px;
    }
  
    p.name {
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-700);
        margin: 8px;
        color: var(--main-text-color);
    }
    p {
        margin: 10px;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-400);
        color: var(--gray-text-color);
    }
}   

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 32px;
  margin-top: 32px;
}

.buttonYes {
  background-color: var(--color-purple);
  outline: 0px;
  border: 0px;
  border-radius: var(--border-radius-3);
  display: flex;
  justify-content: center;      
  align-items: center;
  gap: 8px;
  height: 40px;
  width: 120px;
  color: #fff;     
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-700);
  
  &:hover {
    cursor: pointer;
  }
}

