.buttonSubmit {
    background-color: var(--color-purple);
    color: #fff;
    outline: 0;
    border: 0px;
    border-radius: var(--border-radius-3);
    padding: 8px 24px;
    /* width: 296px; */
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    margin: 16px 12px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.centered {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 144px;
}

.infoText {
    margin: 20px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
}