.wrapper {
    width: 100%;
    background-color: #fff;
}

.section {
    background-color: var(--bg-light-gray-color-transparent);
    width: 100%;
    border-top-left-radius: var(--border-radius-3);
    padding: 40px 48px;
    
}

.titleBox {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: var(--font-size-22);
}

.foundCount {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    margin-left: 8px;
}

.navLink {
    padding: 8px 16px;
}

.activeLink {
    padding: 8px 16px;
    color: red;
}

.cardBox {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 40px;
    
}
