.textareaEmpty {
    resize:none;
    overflow: hidden;
    width: 100%;
    min-height: 150px;
    border: 0;
    border-radius: var(--border-radius-3);
    outline: 0;
    padding: 16px 24px;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    background-color: var(--bg-light-gray-color-transparent);
    letter-spacing: 0.7px;
    &::placeholder {
        color: var(--gray-text-color);
    }
}

.textareaFilled {
    resize:none;
    overflow: hidden;
    width: 100%;
    min-height: 150px;
    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius-3);
    outline: 0;
    padding: 24px 36px;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    color: var(--main-text-color);
    background-color: transparent;
    letter-spacing: 0.7px;
    &::placeholder {
        color: var(--gray-text-color);
    }
}